boto3~=1.34.146
python-dotenv~=1.0.1
pymupdf
langchain
langchain-community
langchain-openai
nltk
llama-parse
nest_asyncio
pandas
faiss-cpu
matplotlib
seaborn
wordCloud
textblob
scikit-learn
streamlit
langchain~=0.2.10
nltk~=3.8.1
streamlit~=1.36.0